*{margin:0;padding:0}
body{max-width:517px;width:75%; margin:25px auto;}
/* .bull, #slide-show{float:left}
.bull{margin-left: 200px; margin:90px 5px;font-size:50px; color:#555; cursor:pointer} */
/* #slide-show{
  width:500px;
  height:500px;
  border:10px solid #aaa;
  margin:0 auto;
  margin-left: 300px;
}

#slide-show p{
  width:437px;
  margin:0 auto;
}
#slide-show p img{
  position:relative;
  top:220px
} */

.slider{
    margin-left: -510px;
}
.slider1{
    margin-top: -500px;
}
.slider2{
    margin-left: 510px;
    margin-top: -500px;
}